<ion-view title="giphchat">
  <ion-nav-title>
    <button class="button button-clear button-assertive m-t-xs">
      <i class="icon ion-person"></i>
    </button>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-clear" nav-direction="forward" ui-sref="home.explore">
      <i class="icon ion-fireball"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="wrapper text-center">
      <div class="pos-rlt">
        <img src="video/giphy-me.gif" alt="" class="thumb-xxl rounded" ng-click="openProfileModal()">
        <i class="icon ion-edit button-edit calm-bg light text-lg b b-3x b-light b-2x rounded" ng-click="openEditProfileModal()"></i>
      </div>
      <div class="wrapper-xs text-lg">Shamil</div>
    </div>

    <div class="wrapper text-muted text-center">Funny. Friendly. UI/UX lover.</div>

    <div class="list text-u-c font-bold text-center">
      <div class="item" ng-click="openEditProfileModal()">
        <div class="assertive">
          Edit Profile
        </div>
      </div>
      <div class="item" ng-click="openSettingsModal()">
        <div class="assertive">
          Settings
        </div>
      </div>
      <div class="item">
        <div class="calm">
          Get giphchat Plus
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
