<ion-view title="GifChat">
  <ion-header-bar>
    <h1 class="title">Friends - get more stars, give more stars</h1>
    <button class="button button-clear button-assertive" ng-click="closeGiftEnergyModal()">Done</button>
  </ion-header-bar>

  <div class="bar bar-subheader item-input-inset bar-no-border">
    <h1 class="title">Ask friends for free energy!</h1>
  </div>
  <ion-content>
    <div>
      <div class="wrapper font-bold text-u-c assertive">Friends</div>
      <center>
        <button class="button button-block button-positive" ng-click="openInviteModal()">Invite more friends</button>
        <h5>OR</h5>
        <button class="button button-assertive" ng-click="openGiftEnergyModal(true)" >Ask for free energy</button>      
      </center>
      <div>
        <center>
          <p>{{friends.length + " friends using GifChat"}}</p>
        </center>
        <div class="clear m-b-sm" ng-repeat="p in friends track by $index" nav-direction="forward" ui-sref="home.messaging({id: 2})">
          <img ng-src="{{p.picture.data.url}}" alt="" class="thumb-md rounded pull-left m-l m-r-md">
          <!-- <img ng-src="img/{{p.name}}.png" alt="" class="thumb-md rounded pull-left m-l m-r-md"> -->
          <div class="text-lg b-b b-light clear padder-v">
            <div class="text-c">{{p.name}}</div>
            <p class="text-muted" ng-if="p.isNew">Send free energy!</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
