<ion-view title="GifChat">
  <ion-header-bar>
    <h1 class="title">Invite more Friends - get more stars, give more stars</h1>
    <button class="button button-clear button-assertive" ng-click="closeInviteModal()">Done</button>
  </ion-header-bar>

  <div class="bar bar-subheader item-input-inset bar-no-border">

  </div>
  <ion-content>
    <div>
      <div class="wrapper font-bold text-u-c assertive">Friends</div>
      <button class="button button-block button-positive" ng-click="console.log('dummy sendInvites()')">Invite more friends</button>
      <div>
        <div class="clear m-b-sm" ng-repeat="p in invitableFriends track by $index" nav-direction="forward" ui-sref="home.messaging({id: 2})">
          <img ng-src="{{p.picture.data.url}}" alt="" class="thumb-md rounded pull-left m-l m-r-md">
          <!-- <img ng-src="img/{{p.name}}.png" alt="" class="thumb-md rounded pull-left m-l m-r-md"> -->
          <div class="text-lg b-b b-light clear padder-v">
            <div class="text-c">{{p.name}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
